code {
    background: #2db34a;
    border-radius: 6px;
    color: #fff;
    display: block;
    font:14px/24px "Source Code Pro", Inconsolata, "Lucida Console", Terminal, "Courier New", Courier;
    padding: 24px 15px;
    text-align: center;
}

.default {
    background: none;
    color: #666;
}

.group:before,
.group:after {
    content: "";
    display: table;
}

.group:after {
    clear: both;
}

.group {
    clear: both;
    *zoom:1;
}

.group,
header,
section,
aside,
footer {
    margin: 0 1.5% 24px 1.5%;
}

section {
    float: left;
    width: 63%;
}

aside {
    float: right;
    width: 30%;
}

footer {
    /*clear: both;*/
    margin-bottom: 0;
}

h2,
p {
  color: #555;
  font: 13px/20px "Helvetica Neue", Helvetica, Arial, sans-serif;
}
a {
  color: #0087cc;
}
a:hover {
  color: #ff7b29;
}
h2 {
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 6px;
}
.byline {
  color: #9799a7;
  font-family: Georgia, Times, "Times New Roman", serif;
  font-style: italic;
  margin-bottom: 18px;
}
