a {
  color: #648880;
  /*text-decoration: none;*/
}

p a {
  border-bottom: 1px solid #dfe2e5;
}

h5 {
  color: #a9b2b9;
  font-size: 14px;
  font-weight: 400;
  /*text-transform: uppercase;*/
}

strong {
  font-weight: 400;
}

cite, em {
  font-style: italic;
}

.primary-nav {
  font-size: 14px;
  font-weight: 400;
  letter-spacing: .5px;
  text-transform: uppercase;
}

.primary-footer {
  color: #648880;
  font-size: 14px;
  padding-bottom: 44px;
  padding-top: 44px;
}

.primary-footer small {
  float: left;
  font-weight: 400;
}

.tagline {
  margin: 66px 0 22px 0;
  /*text-align: right;*/
}

.nav {
  text-align: right;
}

.hero {
  line-height: 44px;
  padding: 22px 80px 66px 80px;
  /*text-align: center;*/
}

.hero h2 {
  font-size: 36px;
}

.hero p {
  font-size: 24px;
  font-weight: 100;
}

.logo {
  border-top: 4px solid #648880;
  float: left;
  font-size: 48px;
  font-weight: 100;
  letter-spacing: .5px;
  line-height: 44px;
  padding: 40px 0 22px 0;
  text-transform: uppercase;
}

#test
{
  background: green;
}

div
{
  /*border: 6px solid #949599;*/
  height: 100px;
  margin: 20px;
  padding: 20px;
  width: 400px;
  border-color: red;
  border-width: 1px;
  border-style: solid;
  border-radius: 50%;
}

p
{
  /*background: orange;
  display: inline-block;
  padding-top: 0px;
  height: 0px;
  margin: 0;*/
  word-spacing: .25em;
}

.hotdog p.mustard
{
  background: yellow;
  height: 0px;
}

.hotdog p
{
  background: rgba(255, 102, 0, .5);
  height: 0px;
}

.btn
{
  /*font-size: 16px;*/
  width: 5em;
}

.btn-danger
{
  background: pink;
}

.btn-success
{
  background: green;
}

a:link
{
  text-decoration: none;
}

a:visited
{
  text-decoration: none;
}

a:hover
{
  color: #a9b2b9;
  text-decoration: none;
}

a:active
{
  text-decoration: none;
    color: gray;
}


/*
  ===============================================
  Grid
  ===============================================
*/

*,
*:before,
*:after
{
  -webkit-box-sizing:border-box;
     -moz-box-sizing:border-box;
         box-sizing: border-box;
}

.container
{
  margin: 0 auto;
  padding-left: 30px;
  padding-right: 30px;
  width: 960px;
}

/*
  ===================================
  Typography
  ===================================
*/

h1, h2, h3, h4
{
  color: #648880;
}

h1 {
  font-size: 36px;
  line-height: 44px;
}

h2 {
  font-size: 24px;
  line-height: 44px;
}

h3 {
  font-size: 21px;
}

h4 {
  font-size: 18px;
}

body {
  color: #888;
  font: 300 16px/22px "Lato", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/*
  ===================================
  Buttons
  ===================================
*/

.btn
{
  border-radius: 5px;
  display: inline-block;
  margin: 0;
}

.btn-alt
{
  border: 1px solid #dfe2e5;
  padding:10px 30px;
}

/*
  ========================
  Home
  ========================
*/
